name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Print working directory
        run: pwd

      - name: List files
        run: ls -la

      - name: Run build step
        run: echo "Build step completed"
